
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, poppins, sans-serif;
    scroll-behavior: smooth;
}
h1,body,p{
    margin:0;
}
 

header{
    background-color: #000000;
    color:white;
    display: flex;
    height:70px;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    top:0;
    z-index:3;
    flex-wrap: wrap;
    max-width: 100%;
}
.logo{
  font-size: 27px;
  font-weight: 900;
  padding-left:200px;
}
.nav{
     padding-right:150px;
     position:relative;
}
.nav-item{
    color:white;
    text-decoration: none;
    padding:13px 20px;
    font-size: 17px;
    font-weight:400 ;

}
section {
    background-color: #000000;
    color:white;
  
    width:100%;
    flex-wrap: wrap;
    max-width:100%;
    padding-top: 100px;
}
.menu-line{
    height:3px;
    width:20px;
    background-color: #ebb53d;
    margin-bottom:3px;
}
nav a:hover{
    color:#ffbd39
    /* text-decoration-line: underline;
    text-decoration-style:  10px solid;
    text-decoration-thickness: 3px; */
}
nav a:first-child{
    color:#ffbd39;
}
nav .line{
  height:2\px;
  width:50px;
  background-color: #ffbd39;
  position:absolute;
  left:15px;
  transition: 0.3s ease-in-out;
  margin-top:5px;
  
  
}
nav .nav-item:active{
    color:#ffbd39
}
nav a:nth-child(2):hover ~.line{
    left:13%;
    width:60px;

}
nav a:nth-child(3):hover ~.line{
    left:26%;
    width:64px;

}
nav a:nth-child(4):hover ~.line{
    left:40%;
    width:78px;

}
nav a:nth-child(5):hover ~.line{
    left:55%;
    width:75px;

}
nav a:nth-child(6):hover ~.line{
    left:70%;
    width:62px;

}
/* a:active{
    text-decoration-color: #ffbd39;
    text-decoration-line: underline;
    text-decoration-style:  10px solid;
    text-decoration-thickness: 3px;
    color:#ffbd39;
    background: none;
} */



.container{
    padding-left:200px;
    padding-top:150px;
    line-height: 1.2;
    height:87vh;
}
.container10{
    display:flex;
    gap:100px;
}
.name{
    font-size: 60px;
    margin:16px 0px 24px;
    font-weight: bold;
}
.hlo{
    color:#ffbd39;
}
button{
    background-color: #ffbd39;
    padding:16px 24px;
    border-radius: 25px;
    font-size: 15px;
    font-weight:600;
    border:none;
    text-decoration: none;
    color:#000;

}
button a{
    text-decoration: none;
    color:#000;
}
.container1{
    display:flex;
    padding-top:112px;
   

}
.container2{
    display:flex;
 margin-top:60px;
 margin-bottom:80px;
 
}
.img{
    padding-left:120px;
    border-radius: 10px;
   object-fit: cover;
}
.img4:hover{
transform: rotateY(180deg);
transition-duration: 2s;}
.about{
    padding-left:60px;
    position:relative;
}
.ab1{
    position:absolute;
    font-size:6vw;
    left:30px;
    top:0;
    
    font-weight: 900;
   
    color:rgba(255,255,255,0.1);
}
.ab2{
    position:absolute;
    font-size:6vw;
    left:600px;
    top:0;
    
    font-weight: 900;
   
    color:rgba(255,255,255,0.1);
}
.h2p{
    position:relative;
}

h2{
    font-size:50px;
    margin:0px 0px 24px;
    font-weight: 700;
 
   
}
p{
    margin:0px 0px 16px;
    color:#999999;
    font-weight: 400;
}
.heading{
    padding-right:60px;
    
}
.heading ul li{
    list-style-type: none;
    line-height: 1.8;
    font-size:18px;
    font-weight:600 ;
}
.detail ul li{
    list-style-type: none;
    line-height: 1.8;
    font-size:18px;
     color:#999999;
}
.project{
    font-size: 28px;
    padding-bottom:20px;
}
.h2p{
    text-align: center;
    padding-top:60px;
}
.container3{
    display:grid;
    gap:20px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 290px 290px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:150px;
    
}
.flex-item{
    background-color: #1a1a1a;
    padding:20px;
    line-height: 1.8;

   
}
.color{
    color:#ffbd39;
    font-size:30px;
}
.skill{
    width:100%;
    max-width:200px;
    padding:0 20px;
    position:relative;

}
.skill-name{
    font-size:18px;
    font-weight:700;
    color:#f1f1f1;
    
} 
.skill-bar{
    height:12px;
    background-color: #1a1a1a;
    border-radius:3px;
    width:600px;
    

}

.skill_p{
position:absolute;
left:500px;;
}
.skill_p1{
    position:absolute;
    left:430px;;
    }
    .skill_p2{
        position:absolute;
        left:230px;;
        }
.skill-per{
    height:12px;
    background-color: #ffbd39;
    border-radius:4px;
    animation-name:example;
    animation-duration: 2s;
    animation-timing-function: linear;   
}
@keyframes example {
    from{max-width: 0;};
}
.progress-bar{
    
     padding:125px;
     padding-left:400px;
     line-height: 2.6;
     
}

.p_container{
    display:grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    gap:35px;
    justify-content: center;
    margin-top:40px;
   


 
    
}
.img2{
    width:100%;

   height:100%;
    

}

.con{
    position:relative;


}
.con:hover .overlay {
    opacity:8;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#ebb53d;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
  
  }
.p_item1{
   grid-column:2/4;
   height:250px;
}
.p_item2{
    grid-column: 1/3;;
    height:250px;
}
.p-item3{
    height:250px;
}
.p_item4{

height:250px;
}

.icon-con{
    display:flex;
    justify-content:space-evenly;
    margin:0 auto;
    flex-wrap:wrap;
}
.icon2{
    display:flex;
    flex-direction:column;
    color:white;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.a-icon{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    font-weight:500;
    font-size: 16px;
    justify-content: center;
}
.icon2 i{
    height:100px;
    width:100px;
    background-color: #1a1a1a;
    color:#ffbd39;
    border-radius: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:80px;
    font-size:25px;

}






#contact{
    height:1800px;
}
.container4{
 display:flex;
 justify-content:space-evenly;
 padding-top:80px;
 text-align: center;
 
 
}
.icon{
  color: #ffbd39;
  font-size:25px;
  
}
.grid-item{
 
}
.caption{
    text-align: center;
    font-size:24px;
    padding-top:30px;
    
}
.bg{
    background-color:#1a1a1a;
    width:100px;
    height:100px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container10{
    display:flex;
   

}

.bg-light{
    background-color:#f8f9fa;
    color:black;
    width:550px;
    height:600px;
    padding:80px;
}
.container6{
    display:flex;
    padding-top:200px;
    justify-content: center;
}
.name1{
    padding:10px;
    width:400px;
    height:50px;
    font-size: 16px;
    border-radius: 5px;
    border:1px solid #d4d9de;
    background-color: #ffffff;
    margin-bottom:10px;
    overflow:visible;

}
.msg1{
    padding:10px;
    font-size: 16px;
    border:1px solid #d4d9de;
    margin-bottom:10px;
}
.ftr{
    display:flex;
    gap:10px;
    color:#999999;
    
}
.ftr_p{
    line-height:30px;;
}
.ftr_b{
    background-color: #1a1a1a;
    width:45px;
    height:45px;
    border-radius: 50%;
    display:flex;
    align-items: center;
   justify-content: center;


}
.icon_t{
    font-size: 25px;
    color:#a3a3a3;
}
.ftr_icon{
    display:flex;
    gap:10px;
    padding-top: 100px;
}
.htr{
    display:flex;
    gap:10px;
    color:#999999;
    
}
.hd{
    font-size: 22px;
    margin:20px;
   
}
.container7{
    display:flex;
    padding-top:100px;
   
    justify-content: center;
    justify-content: space-evenly;
}
.footer-last{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ftr_l{
    text-align: center;
    padding-top:60px ;
    color:#999999;
    font-size:18px;
    height:150px;
    background-color: #000;
}
.co{
    color:#999999;
}
.menu{
    display:none;
}
@media all and (max-width: 768px){
    /* For mobile phones: */
    .container{
        padding-left:10px;
        padding-top:150px;
        line-height: 1.2;
        width:300px;
    }.container10{
        display:flex;
        flex-wrap:wrap;
    }
    .main{
        overflow-x: hidden;
    }
    
   
    .container1{
        display:flex;
        padding-top:112px;
     flex-wrap:wrap;
    }
    .img{
        padding-left:10px;
        border-radius: 10px;
       object-fit: cover;
      
    }
  
    .container3{
        grid-template-columns: 1fr ;
        padding:10px;

    }
    .skill-bar{
        width:270px;
       
       
    }
    .skill{
        margin:100,auto;
    }
    .progress-bar{
        padding:50px;
    }
    .p-item1{
        grid-area: none;
    }
    .p_container{
       display:flex;
       flex-wrap:wrap;
    }
    .icon-con{
display:flex;
flex-direction: column;
    }
   .container6{
    display:flex;
    flex-wrap: wrap-reverse;
    padding-right: 5px;;
    height:1000px;
    background-color: #000;
   }.bg-light{
     width:400px;
     padding: 50px;;
     height:400px;
   }
   .name1{
      width:300px;
      
   }
   textarea{
         width:300px; 
         height:80px;
   }
   .container8{
    
   }
   footer{
    height:1000px;
   }
   .img6{
    width:400px;
    height:350px
   }
   .skill_p2{
    position:absolute;
    left:110px;
   }
   .skill_p1{
    position:absolute;
    left:200px;
   }
   .skill_p{
    position:absolute;
    left:230px;
   }
   p{
    padding:2px;
   }
   .container7{
    display:flex;
    flex-direction: column;
    background-color: #000;
    height:1000px;
    padding:0px;
    padding:20px;
   }
   .ftr_l{
    height:100px;
    background-color: #000;
    padding-top: 0px;
   }
    
        nav a:hover{
            color:#ffbd39
            /* text-decoration-line: underline;
            text-decoration-style:  10px solid;
            text-decoration-thickness: 3px; */
        }
        nav a:first-child{
            color:#ffbd39;
        }
        nav .line{
          height:3px;
          width:50px;
          background-color: #ffbd39;
          position:absolute;
          left:1px;
          
          bottom:1000px;
          transition: 0.9s ease;
          
          
        }
        nav .nav-item:active{
            color:#ffbd39
        }
        nav a:nth-child(2):hover ~.line{
            left:13%;
            width:60px;
        
        }
        nav a:nth-child(3):hover ~.line{
            left:26%;
            width:64px;
        
        }
        nav a:nth-child(4):hover ~.line{
            left:40%;
            width:78px;
        
        }
        nav a:nth-child(5):hover ~.line{
            left:55%;
            width:75px;
        
        }
        nav a:nth-child(6):hover ~.line{
            left:70%;
            width:62px;
        
        }
        .logo{
            padding-left:10px;
            position:relative;
        }
        .nav{
            padding-right:0px;
            text-align: center;
            display:none;
            
           
        }
        .nav-item{
            padding:4px;
            display:block;
            
            
        
        }
        .nav a{
          
        }
        header{
            display:block;
           
        }
        .menu{
            position:absolute;
            top:10px;
            right:10px;
            display:block;
        
            
        }
        .showmenu{
            display:block;
        }


  }
  